{
    # Your Slack credentials:
    "SLACK_API_TOKEN": "xoxb-asdfasdfasdfxxxxxxxx",
    # Find the sheet keys by visiting Google Sheets and copying the id
    # from the URL.
    "opt_out_sheet": "1cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxew",
    "opt_out_link": "https://docs.google.com/forms/d/e/1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxJw/viewform?usp=sf_link",
}
